# Only track compressed image folders
raw_images/*
!raw_images/*.tar.gz

# Dataset results
orb_features/
sift_features/
surf_features/
orb_matches/

# Python misc.
env/
venv/
__pycache__/
*.pyc

# Root folder images
./*.jpg